div.wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 5px;
    height: 100vh;
    grid-template-areas:
        "blue blue blue gray"
        "cyan red yellow gray"
        "green green yellow gray"
        "brown brown brown brown";
    grid-template-rows: 25% 20% 23% 20%;
    grid-template-columns: 25% 24% 30% 20%;
}
div.brown{
    background: brown;
    grid-area: brown;
}
div.gray{
    background: gray;
    grid-area: gray;
}
div.blue{
    background: blue;
    grid-area: blue;
}
div.yellow{
    background: yellow;
    grid-area: yellow;
}
div.green{
    background: green;
    grid-area: green;
}
div.red{
    background: red;
    grid-area: red;
}
div.cyan{
    background: cyan;
    grid-area: cyan;
}
@media screen and (min-width: 750px) and (max-width: 950px){
    .wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 950px) and (max-width: 1200px){
    .wrapper{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}